/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  background-color: hsl(219, 79%, 8%) !important;
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.pad {
  margin-bottom: 20px;
}

.schoolImg {
  margin: 30px;
}

.attributes {
  color: white;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.voice_att {
  text-decoration: none;
  color: #e8df78;
}

.clients {
  font-size: .8em;
}

.performed-with {
  font-size: .8em;
}

.shows > h1, h3, h4 {
  font-weight: 100 !important;
}

.questions > p {
  margin-bottom: 0em !important;
}

.main-lang-serv {
  margin-top: 100px;
}

@media (min-width: 768px) {
  .social {
    width: 10%;
  }
  .mic {
    width: 60% !important;
  }

  .slideshow-section {
    height: 500px;
  }
}
@media (max-width: 767px) {
  .social {
    width: 15%;
  }
  iframe {
    width: 100% !important;
  }
}

@media (max-width: 725px) {

  .slideshow-section {
    height: 300px;
  }
}

.music_photos {
  width: 40%;
  display: flex;
}

/* .music_photo {
  margin-top: 30px;
  margin-bottom: 30px;
  align-self: center;
} */

.music_photo {
  margin-top: 30px;
  align-self: center;
}

.rotateimg5 {
  -webkit-transform:rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg);
}

.rotateimgneg5 {
  -webkit-transform:rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}




/* slide show */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}